@using System.Configuration
@model Authentication
@{
    ViewBag.Title = "Kelli Planning Poker";
    Bundles.AddPageData("pageData", new
                                        {
                                            userNameId = Html.IdFor(m => m.UserName).ToHtmlString(),
                                            clientId = Model.ClientId,
                                            key = Model.Key,
                                            channelUrl = Model.ChannelUrl
                                        });
    Bundles.Reference("~/Scripts/Home/Index.js");
}
<p>
    To begin a poker planning session, log in with your StackExchange (StackOverflow,
    ServerFault, etc) account. You will be the moderator. Your team can join as estimators
    without a StackExchange account. You can also join as an estimator from another
    browser tab or client.
</p>
<p>
    Note: Only the moderator needs a StackExchange account.
</p>
<button id="login" disabled="disabled">Log in with Stack Exchange</button>

<p class="ui-state-error" style="display: none" id="authError"></p>
