@using System.Configuration
@model Authentication
@{
    ViewBag.Title = "Kelli Planning Poker";
    Bundles.AddPageData("pageData", new
                                        {
                                            AccessTokenId = Html.IdFor(m => m.AccessToken).ToHtmlString(),
                                            SiteNameId = Html.IdFor(m => m.SiteAPIName).ToHtmlString(),
                                            UserIdId = Html.IdFor(m => m.UserId).ToHtmlString(),
                                            clientId = Model.ClientId,
                                            key = Model.Key,
                                            channelUrl = Model.ChannelUrl
                                        });
    Bundles.Reference("~/Scripts/Home/Index.js");
}
<p>
    To begin a poker planning session, log in with your StackExchange (StackOverflow,
    ServerFault, etc) account. You will be the moderator. Your team can join as estimators
    without a StackExchange account. You can also join as an estimator from another
    browser tab or client.
</p>
<p>
    Note: Only the moderator needs a StackExchange account.
</p>
<div id="preAuth">
<button id="login" disabled="disabled">Log in with Stack Exchange</button>

<p class="ui-state-error" style="display: none" id="authError"></p>
</div>

<div id="postAuth" style="display:none">
    <p>Choose a Stack Exchange user:</p>
    <ul id="users">
    </ul>
</div>

@using (Html.BeginForm<HomeController>(c => c.Authenticate(null), FormMethod.Post, new { id = "auth" }))
{
    @Html.HiddenFor(m => m.AccessToken)
    @Html.HiddenFor(m => m.SiteAPIName)
    @Html.HiddenFor(m => m.UserId)
}
