@model Authentication
@{
    ViewBag.Title = "Kelli Planning Poker";
    Bundles.Reference("~/Scripts/Home/Index.js");
}
<p>
    To begin a poker planning session, log in with your StackExchange (StackOverflow,
    ServerFault, etc) account. You will be the moderator. Your team can join as estimators
    without a StackExchange account. You can also join as an estimator from another
    browser tab or client.
</p>
<p>
    Note: Only the moderator needs a StackExchange account.
</p>

@using (Html.BeginForm<HomeController>(c => c.Index(null)))
{
    <div>
        @Html.LabelFor(m => m.Id, "StackExchange user name"):
        @Html.TextBoxFor(m => m.Id)
    </div>
}
