@model PlanningSession 
@{
    ViewBag.Title = "Welcome " + Context.User.Identity.Name;
    Bundles.AddPageData("model", Model);

    var estimateDisplayUrl = Url.Action<EstimateController>(c => c.Index(Model.Id, null));
    var estimateJoinUrl = Url.Action<EstimateController>(c => c.Index(Model.Id, Model.JoinCode));
}

<p>Your team can join by visiting this url:<br/>
    <a href="@estimateJoinUrl">@estimateDisplayUrl</a>
    
    @Html.QRCode(estimateJoinUrl)
</p>

